.collection-item {
  //  the difference between 22 percent as a width is just 22 percent of the containing  divs width
  //  so our containing divs width is 100 pixel  the the width would be 22 pixels
  // 22vw means this component to be 22 percent of the width of the actual window
    // width: 22%;
    width:22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position:relative;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
    .custom-button {
      width: 80%;
      opacity:0.7;
      position: absolute;
      top: 255px;
      display:none;
      
    }
    &:hover {
      .image {
        opacity: 0.8;
      }
      .custom-button {
        display:flex;
        opacity: 0.85;
      }
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  